.section {
    /*section properties*/
    position: relative;
    padding-top: 15px;
    padding-bottom: 30px; }
.section .section-title {
    /*section title*/
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
 }
.section .section-title .title-icon {
    /*icon*/
    margin-right: 20px;
    color: #1F5694; }
.section .section-title img {
    width: 66px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: -2px 12px 12px 12px; }


/*-------------------------------------------------------------------------------
#CONTAINER
-------------------------------------------------------------------------------*/
.container {
    /*container properties*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-backface-visibility: hidden; }

// @media (min-width: 768px) {
//     .container {
//         /*container at min width 768px*/
//         width: 750px; } }
// @media (min-width: 992px) {
//     .container {
//         /*container at min width 992px*/
//         width: 970px; } }
// @media (min-width: 1200px) {
//     .container {
//         /*container at min width 1200px*/
//         width: 1000px; } }